ffmpeg==1.4
ffmpeg_python==0.2.0
hsh==1.1.0
matplotlib==3.6.2
moviepy==1.0.3
numpy==1.23.3
opencv_python==4.6.0.66
Pillow==9.3.0
pymatting==1.1.8
PyQt5==5.15.7
PyQt6==6.4.0
pyqtgraph==0.13.1
QDarkStyle==3.1
qimage2ndarray==1.9.0
requests==2.22.0
scipy==1.9.1
skimage==0.0
torch==1.13.0
torchvision==0.14.0
